/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #0c0303;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1,
h2 {
    color: #e0600a;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 300px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Ensures padding doesn't widen the input */
}

button {
    width: 100%;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;

}

button:hover {
    background-color: #2980b9;
}

.welcome-container {
    text-align: center;
    margin-top: 50px;
}